[Desktop Entry]
Comment=A tool to graphically display executables' dependancies in a tree.
Encoding=UTF-8
Exec=visual-ldd
GenericName=Visual Dependency Walker
Icon=visual-ldd.png
Name=Visual Dependency Walker
Terminal=false
Type=Application
Categories=Application;Development;
MimeType=application/x-executable
StartupNotify=true
StartupWMClass=visual-ldd
