[Desktop Entry]
Version=1.0
Type=Application
Name=Listaller Creator (Qt)
Name[de]=Listaller Creator (Qt)
Categories=Development;Building;
Comment=GUI wizard to create setup packages
Comment[de]=GUI Assistent zum Erstellen von Installationspaketen
Exec=licreator-qt
GenericName=Create setup package
GenericName[de]=Setup Paket erstellen
Icon=/opt/appfiles/liCreator/listaller_creator-qt.png
MimeType=application/ips-script;
StartupNotify=true
Terminal=false
X-AppVersion=0.4.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-Publisher=Listaller Project
