[Desktop Entry]
Version=1.0
Type=Application
Name=Listaller Manager
GenericName=Install/Uninstall software
Comment=Allows you to install and manage applications
GenericName[de]=Software installieren/deinstallieren
Comment[de]=Hilfsprogramm zum Installieren/Deinstallieren von Anwendungen
Name[de]=Listaller Manager
Icon=listaller
Exec=listallmgr-qt
Categories=System;PackageManager;KDE;
X-Publisher=Listaller Project
X-AppVersion=0.3.20-exp
StartupNotify=false
NotShowIn=GNOME;
Terminal=false
X-AllowRemove=false
MimeType=application/x-installation;
