Source: listaller-gtk2
Standards-Version: 3.8.0
Section: utils
Maintainer: Matthias Klumpp <matthias@nlinux.org>
Priority: extra
Homepage: http://listaller.nlinux.org
Build-Depends: libgtk2.0-dev, libgdk-pixbuf-dev, lazarus-ide, fpc (>= 2.2.2-3), debhelper (>= 5), libgdk-pixbuf2, bash

Package: listaller-gtk
Architecture: any
Depends: libatk1.0-0 (>= 1.13.2), libc6 (>= 2.6-1), libglib2.0-0 (>= 2.14.0), libgtk2.0-0 (>= 2.12.0), libpango1.0-0 (>= 1.18.3), libx11-6, gksu, xdg-utils, lsb-release, libgdk-pixbuf2, packagekit, python-packagekit
Provides: listaller, listaller-compact-gtk
Description: Listaller main package (GTK)
  Listaller is a distribution-independ software install system.
  This is an alpha-release of Listaller. With this package you can uninstall every application on your system and install ipk-packages, LOKI/Mojo and Autopackages easily. 
  Listaller tries to be compatible to all available Linux distributions and install- and package-systems.
  Please note that this alpha-version should be used for testing purposes.

Package: listaller-tools
Architecture: any
Depends: listaller
Description: Command-line tools for Listaller and IPK packages
  This package contains everything you need to build own IPK packages.
  It also contains the needed tools to build RPM and DEB packages from IPS sources and to create an "Linux distribution compatible" button.

Package: listaller-creation-gtk
Architecture: any
Depends: libatk1.0-0 (>= 1.13.2), libc6 (>= 2.6-1), libglib2.0-0 (>= 2.14.0), libgtk2.0-0 (>= 2.12.0), libpango1.0-0 (>= 1.18.3), libx11-6, gksu, xdg-utils, lsb-release, libgdk-pixbuf2, listaller, listaller-tools
Description: Listaller Creator
  Listaller is a distribution-independ software install system.
  This is an alpha-release of Listaller's package creation tool.
  With liCreator you can easily build your own IPK-packages for the Listaller system.
  Please note that this alpha-version should be used for testing purposes.

Package: lithememgr-gtk
Architecture: any
Depends: libatk1.0-0 (>= 1.13.2), libc6 (>= 2.6-1), libglib2.0-0 (>= 2.14.0), libgtk2.0-0 (>= 2.12.0), libpango1.0-0 (>= 1.18.3), libx11-6, listaller
Description: liTheme Manager
  Tool that lets you easily install/uninstall system themes, wallpapers, iconsets and screensavers.
  liThemeMgr is part of the Listaller project and uses it's technology.
  liThemeMgr is still under development! This is an daily-build!

Package: listaller-doc
Architecture: all
Description: Documentation for listaller
 <at time, there's no description available>
