Source: listaller
Section: admin
Maintainer: Matthias Klumpp <matthias@nlinux.org>
Priority: optional
Homepage: http://listaller.nlinux.org
Standards-Version: 3.8.4
Build-Depends: libgtk2.0-dev, cdbs, quilt, debhelper (>= 5), fpc (>= 2.4.0), lcl (>=0.9.29),
 lcl-gtk2, lcl-qt4, lcl-nogui, libqt4pas-dev, libsqlite3-dev, libglib2.0-dev,
 libpackagekit-glib2-dev (>= 0.5.6), libdbus-1-dev, libpolkit-gobject-1-dev

Package: libinstaller0.4.0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, apt-file, listaller-core
Description: Listaller library
 Listaller is a cross-distribution application management system.
 This package contains the libinstaller library, which contains
 all functions frontends need for installing/uninstalling of software.

Package: listaller-core
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Listaller core files
 Listaller is a cross-distribution application management system.
 This package contains generic Listaller modules.
 It provides the Listaller daemon and the
 command-line software installation tool "lipa".

Package: listaller-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libinstaller0.4.0 (= ${binary:Version}), listaller-core
Description: Listaller package tools
 This package contains everything you need to build own IPK packages.
 It also contains the needed tools to build RPM and DEB packages from
 IPS sources and to  create an "Linux distribution compatible"
 button for your software.

Package: listaller-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, listaller-data (= ${source:Version})
Provides: listaller-frontend
Description: Listaller frontends (GTK2)
 Listaller is a distribution-independ software install system.
 It can be used to uninstall every application on your
 system you want to be removed, including LOKI/Mojo and Autopackages.
 Listaller also provides a distribution independent package format which
 extends the existing package manager.
 The tool is based on PackageKit an trues to be compatible to all available
 Linux distributions.
 .
 This package provides GTK+ frontends for the Listaller manager,
 updater and installer.
 .
 Please note that this alpha-version should only be used for testing purposes.

Package: listaller-qt
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, listaller-data (= ${source:Version}), packagekit,
 kde-icons-oxygen
Provides: listaller-frontend
Description: Listaller frontends (Qt4)
 Listaller is a distribution-independ software install system.
 It can be used to uninstall every application on your
 system you want to be removed, including LOKI/Mojo and Autopackages.
 Listaller also provides a distribution independent package format which
 extends the existing package manager.
 The tool is based on PackageKit an trues to be compatible to all available
 Linux distributions.
 .
 This package contains Qt frontends for the Listaller manager,
 updater and installer.
 .
 Please note that this alpha-version should only be used for testing purposes.

Package: listaller-data
Architecture: all
Depends: ${misc:Depends}, desktop-file-utils
Description: Listaller data
 Listaller is a distribution-independ software install system.
 The application is able to uninstall every application on your
 system you want to be removed, including LOKI/Mojo and Autopackages.
 This package also includes the IPK installer tool.
 Listaller tries to be compatible to all available Linux distributions
 and uses PackageKit as backend.
 This package contains platform and widgetset independent data of Listaller.

Package: listaller-creator-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, xdg-utils, listaller-tools (= ${binary:Version})
Description: Listaller Creator (GTK2)
 Listaller is a cross-distribution software install system.
 This is an alpha-release of Listaller's graphical package creation tool.
 With liCreator you can easily build your own IPK-packages for the
 Listaller system.
 .
 Please note that this is an alpha-release!

Package: listaller-creator-qt
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, xdg-utils, listaller-tools (= ${binary:Version})
Description: Listaller Creator (Qt4)
 Listaller is a cross-distribution software install system.
 This is an alpha-release of Listaller's graphical package creation tool.
 With liCreator you can easily build your own IPK-packages for
 the Listaller system.
 .
 Please note that this is an alpha-release!
