#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/class/makefile.mk

DEB_SRCDIR:=./src

common-configure-arch::
		chmod +x $(CURDIR)/configure
		$(CURDIR)/configure --enable-gtk --enable-qt --enable-creator --prefix=/usr
