#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp

build-stamp:
	dh_testdir

	$(MAKE) all
	$(MAKE) WIDGET=gtk2 licreator
	#make WIDGET=gtk2 litheme
	$(MAKE) WIDGET=qt4 licreator
	#make WIDGET=qt4 litheme
	#docbook-to-man debian/listaller.sgml > listaller.1

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	echo "Installing binaries..."
	$(MAKE) DESTDIR=./debian/listaller-tools install-build-tools
	$(MAKE) DESTDIR=./debian/listaller-core install-core
	# Install Gtk release
	$(MAKE) DESTDIR=./debian/listaller-gtk install-front-gtk
	$(MAKE) DESTDIR=./debian/listaller-creator-gtk install-licreator-gtk
	 #make WIDGET=gtk2 DESTDIR=./debian/lithememgr-gtk litheme-inst
	# Install Qt4 release
	$(MAKE) DESTDIR=./debian/listaller-qt install-front-qt
	$(MAKE) DESTDIR=./debian/listaller-creator-qt install-licreator-qt
	 #make WIDGET=qt4 DESTDIR=./debian/lithememgr-gtk litheme-inst

binary-indep: build install
	echo "Installing architecture independent files..."
	$(MAKE) DESTDIR=./debian/listaller-data install-data

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_install
	dh_installmime
	dh_installman
	dh_link
	dh_strip # --dbg-package=listaller-gtk-dbg --dbg-package=listaller-tools-dbg --dbg-package=listaller-core-dbg --dbg-package=listaller-creation-gtk-dbg --dbg-package=lithememgr-gtk-dbg --dbg-package=listaller-qt-dbg --dbg-package=listaller-creation-qt-dbg
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
