[Desktop Entry]
Categories=Application;Development;
Comment[de]=Alpha Version des creators, mit dem Sie Installationen erstellen können
Comment=Alpha Version des creators, mit dem Sie Installationen erstellen können
Encoding=UTF-8
Exec=/opt/appfiles/liCreator/licreator
GenericName[de]=Setup Paket erstellen
GenericName=Setup Paket erstellen
Icon=/opt/appfiles/liCreator/listaller_creator.png
MimeType=application/ips-script;
Name[de]=Listaller Creator
Name=Listaller Creator
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-AppVersion=0.3.20-exp
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-Publisher=Listaller Project
