[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Listaller Creator
GenericName=Builder for Listaller Setups
Comment=Allows you to create your own Listaller-packages
Icon=$INST/liCreator/listaller_creator.png
Exec=$INST/liCreator/licreator
Categories=Application;Development;Programming;
MimeType=application/ips-script;
StartupNotify=true
Type=Application
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-Publisher=Listaller Project
X-AppVersion=0.3.20-exp
GenericName[de]=Programm, um Listaller Packete zu erstellen
Comment[de]=Alpha Version des creators, mit dem Sie Installationen erstellen können
Name[de]=Listaller Creator
