<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>


  <vendor>Listaller Project</vendor>
  <vendor_url>http://listaller.nlinux.org/</vendor_url>
  <icon_name>listaller</icon_name>

  <action id="org.freedesktop.listaller.execute-installation">
    <description>Install package directly</description>
    <message>System policy prevents the installer from running the installation</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.listaller.load-system-app-list">
    <description>Reload the global application list</description>
    <message>System policy prevents refreshing the global application list.</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  
</policyconfig>
